{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Local resources-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!--CND resources-->

    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>

    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>

    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">

    <script src="https://kit.fontawesome.com/4c1e19ce09.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Satisfy&display=swap" rel="stylesheet">

    <title>Robotic foundations</title>
</head>
<body>

<div class="row">
    <div class="container-fluid" id="upperBar">
        <div class="col-md-12 center-text">
            <i class="fas fa-3x fa-pen-nib"></i>
        </div>
    </div>
</div>

{% block content %}

{% endblock %}


<script>
    $(window).load(function () {
        console.log("App started");
    });
</script>


</body>
</html>